fastapi
uvicorn
python-dotenv
langchain
openai
genai
sqlmodel
databases[sqlite]
requests
pinecone-client
streamlit
pytest
langchain-google-genai
chromadb
python-dotenv
langchain-community
sentence-transformers 
langchain_chroma 
langchain_community  
numpy
