fastapi
uvicorn
python-dotenv
langchain
openai>=1.0.0
google-generativeai
sqlmodel
databases[sqlite]
requests
pinecone-client
streamlit
pytest
langchain-google-genai
chromadb
langchain-community
sentence-transformers
langchain-chroma
numpy
