fastapi
uvicorn
python-dotenv
langchain
openai==1.86.0
google.genai
sqlmodel
databases[sqlite]
requests
pinecone-client
streamlit
pytest
langchain-google-genai
chromadb
langchain-community
sentence-transformers
langchain-chroma
numpy
